http://localhost

reverse_proxy /sparql* virtuoso:8890
reverse_proxy /conductor* virtuoso:8890
reverse_proxy /ontology* rickview:8080
# reverse_proxy /phppgadmin* phppgadmin:8080 # does not work
reverse_proxy /database-frontend* database-frontend:5000
